// Imports
@import "abstract/variables";

// Generic

*,
* ::after,
* ::before {
    box-sizing: border-box;
}

body {
    font-family: $fontFamily;
    background-color: $backgroundMain;
    color: $textColorLight;
    font-size: $fontSize;
}

.pageContainer {
    padding: 30px;
}

// ------------------ NAVBAR ------------------------

li {
    list-style: none;
}

#logo {
    width: $widthLogoStatic;

    @media (min-width:992px) {
        width: $widthLogo;
        height: auto;
        margin-right: $logoDistance;
    }
}

.navbar {
    margin-bottom: $topComponentsDistance;
    padding: 0;
    background-color: $backgroundMain !important;

    .d-flex {
        * {
            cursor: pointer;
        }

        p {
            margin: 0;
        }

        align-items: center;
        gap: 20px;
    }

    li {
        a {
            color: $textColorLight !important;
        }
    }

    button {

        &::after {
            color: $textColorLight;
        }

        img {
            width: $widthIcons;
        }

    }

    ul {
        background-color: $backgroundMain;

        li {
            img {
                width: $widthIcons*2.5;
            }

            img:hover {
                background-color: $backgroundMainHover;
                cursor: pointer;
            }
        }
    }
}

// ---------------- HEADER ------------------------

header {
    margin-bottom: $topComponentsDistance;

    >* {
        color: $textColorBright !important;
    }

    .d-flex {
        align-items: center;
        background-color: $backgroundMain;
        gap: $logoDistance;

        h1 {
            font-size: $fontSize*2.5;
        }

        button {
            color: $textColorLight !important;
            border: 1px solid $textColorLight;
            border-radius: 0;
            width: 130%;
        }

        .sideIcons {
            gap: 0;
            width: 140%;
            height: auto;

            svg {
                width: 40%;
                height: auto;
                padding: 8px;
                border: 1px solid $textColorDark;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

// ---------------- MAIN ------------------------

main {
    margin-bottom: $bottomComponentsDistance;
}

.filmImage {
    width: 100%;
}

.filmRow {
    margin-bottom: $logoDistance;

    .container-fluid {
        h2 {
            font-size: $fontSize*1.5;
            margin-bottom: 20px;
        }
    }
}

// ---------------- FOOTER ------------------------

#toCenter {
    gap: 20px;
    color: $textColorDark;

    div {

        p,
        address {
            margin-bottom: 0;
            font-size: $fontSize*0.8;
        }
    }

    #socialLogos {
        gap: 20px;
    }

    #footerInfo {
        gap: 30px;

        * {
            gap: 10px;
            text-decoration: none;
            color: $textColorDark;
        }
    }

    .serviceCode {
        display: inline-block;
        border: 1px solid $textColorDark;
        padding: 5px 10px;

        &:hover {
            color: $textColorLight;
            cursor: pointer;
        }
    }
}


// ----------------------- EDIT PROFILE PAGE ------------------------

.pageTwoContainer {
    h1 {
        font-weight: 400;
        font-size: $fontSize*3;
    }

    h3 {
        font-weight: 400;
        font-size: $fontSize;
        color: $textColorDark;
    }

}

.formContent {
    gap: 20px;
    padding-bottom: $topComponentsDistance*1.2;
    border-bottom: 1px solid $textColorDark;

    img {
        width: 100px;
        height: 100px;
    }
}

.profileContent {
    div {
        &:nth-child(1) {
            padding-bottom: $topComponentsDistance*1.2;
            border-bottom: 1px solid $textColorDark;
        }

        &:nth-child(2) {
            padding: $topComponentsDistance*1.2 0;
            border-bottom: 1px solid $textColorDark;
        }

        &:nth-child(3) {
            padding: 0;
            margin: 0;
        }

        .profileName {
            background-color: $backgroundTextForm;
            color: $textColorLight;
            border: none;
            width: 100%;
            padding: 5px 10px;
            margin-bottom: $formContentMargin;
        }

        .dropdown {
            ul {
                border-radius: 0;
                border: 1px solid $textColorDark;
                background-color: $backgroundMain;
                li {
                    a {
                        @include dropDownMenu;
                    }
                }
            }

            button {
                color: $textColorLight;
                border: 1px solid $textColorLight;
                border-radius: 0;
            }
        }

        .special {
            display: inline-block;
            background-color: $backgroundBrightText;
            padding: 5px 10px;
            font-weight: bold;
        }

        span {
            font-weight: bold;
            color: $textColorLight;
        }

        .align {
            display: inline-block;
            margin: 0;
        }

        .checkboxForm {
            padding: 0;
            border: none;
        }
    }
}

#lastDiv {
    padding-top: $topComponentsDistance*1.2;
}

.buttons {
    gap: 20px;
    padding-top: $topComponentsDistance*1.2;

    button {
        @include buttonFormat;
    }
}

.btn-dark {
    @include buttonFormat;
    padding: 5px 30px;
}