// My Variables

$textColorLight: #BAB6B9;
$textColorBright: #FBFBFB;
$textColorDark: #797979;
$backgroundMain: #141414;
$backgroundMainHover: #272727;
$fontSize: 1rem;
$widthLogo: 10%;
$widthIcons: 30px;
$logoDistance: 20px;
$topComponentsDistance: 30px;
$bottomComponentsDistance: 80px;
$imagesPerRow: 6;